.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding-bottom: 3.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    color: rgb(58, 58, 58)
}

.betInputBox {
    border: 2px solid black;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
    width: 190px;
    text-align: center;
}
.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    font-size: 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
  }

.gameroomL {
    color: #000000;
}

.gameroomR {
    color: #000000;
}